[submodule "mcu/SW-TM4C"]
	path = mcu/submodules/SW-TM4C
	url = https://github.com/TaLucGiaHoang/SW-TM4C.git
	ignore = dirty
[submodule "mcu/lm4tools"]
	path = mcu/submodules/lm4tools
	url = https://github.com/utzig/lm4tools.git
	ignore = dirty
[submodule "mcu/openocd"]
	path = mcu/submodules/openocd
	url = https://github.com/openocd-org/openocd.git
	ignore = dirty
